<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet"/>
    <title></title>
</head>
<body style="background-color: transparent">
    <p class="font-monospace small" id="botLogConsole"></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
          ws = new WebSocket("ws://localhost:3001/ws/botlog?id={{ .Id }}")
          ws.onopen = function() {
            ws.send("hi")
          }
          ws.onmessage = function(event) {
            $("#botLogConsole").append(event.data+"<br>")
            $("html, body").animate({ scrollTop: $(document).height() }, 100);
          }
        })
    </script>
</body>
</html>
