<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet">
    <title></title>
</head>
<body style="background-color: transparent;">
<table class="table" id="accountsTable">
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  $(async function () {
    while (true) {
      fetch("/api/accounts/GetSandboxAccounts", {
        method: "GET"
      }).then(async function (resp) {
        resp = JSON.parse(await resp.text())
        if (resp.payload.length === 0) return
        let accountsTable = $("#accountsTable")
        accountsTable.html(`
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Currency</th>
        <th scope="col">Amount</th>
        <th scope="col">Is occupied</th>
        <th scope="col"></th>
    </tr>
    </thead>
        `)
        resp.payload[0].forEach(account => {
          accountsTable.append(`
    <tbody>
    <tr>
        <th rowspan="2" scope="rowgroup">${account.id}</th>
        <th scope="row">RUB</th>
        <td>${account.rubAmount}</td>
        <td>${account.rubOccupied ? "yes" : "no"}</td>
        <th rowspan="2" scope="rowgroup">
            <button ${account.rubOccupied || account.usdOccupied ? "disabled" : ""} class="btn-outline-danger border-0" style="background-color: transparent" onclick="removeAccount('${account.id}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </button>
        </th>
    </tr>
    <tr>
        <th scope="row">USD</th>
        <td>${account.usdAmount}</td>
        <td>${account.usdOccupied ? "yes" : "no"}</td>
    </tr>
    </tbody>`)
        })
      })
      await sleep(1000)
    }
  })

  function removeAccount(id) {
    fetch("/api/accounts/Remove?id="+id, {
      method: "POST"
    }).then(() => {
      location.reload()
    })
  }
</script>
</body>
</html>
